.profile .profile-info {
  display: flex;
  padding-bottom: 20px;
}

.profile .avatar {
  width: 220px;
  height: 220px;
  align-self: center;
  margin-right: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.profile .label,
.profile label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.profile .info {
  font-size: 18px;
}

.weights-list {
  padding-left: 30px;
}

.profile .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile .btn {
  padding: 8px 10px;
  background-color: rgb(17, 112, 255);
  color: white;
  width: auto;
  margin-right: 10px;
}

.profile .btn:hover {
  cursor: pointer;
  background-color: rgb(17, 112, 255, 0.8);
}

.profile input {
  width: 100%;
  display: block;
}

.profile select {
  background-color: #D3D3D3;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 100%;
  display: block;
  padding: 12px;
  margin: 5px 0;
}

.profile .input-div {
  /* white-space: nowrap; */
}
.profile .form {
  margin-bottom: 30px;
}
